.submenu__link {
    color: #666666;
    text-decoration: none;
    display: block;
    font-size: 25px;
    
}

.submenu__link:hover {
    background: #e0e0e0;
}

/* Mostra o submenu quando o item principal é hover */
